<div class="cf-app-segment">
  </div>
  <% results.keys.each do |key| %>
    <div class="usa-width-one-third">
      <div class="monitor-block">
        <% if results[key][:pass] %>
          <div class="monitor-block-title">
            <%= content_tag(:span, nil, :class => "cf-logo-image #{logo_class}") %><%= results[key][:name] %>
          </div>
        <% else %>
          <div class="monitor-block-title monitor-block-error">
            <%= content_tag(:span, nil, :class => "cf-logo-image monitor-warning-icon") %><%= results[key][:name] %>
          </div>
        <% end %>
        <div class="monitor-block-body">
          <div class="monitor-metric">
            <span class="monitor-metric-label">
              Last Check:
            </span>
            <span class="monitor-metric-value">
              <% if results[key][:time] == 0%>
               Never
              <% else %>
               <%= distance_of_time_in_words(results[key][:time], Time.now) %> ago
              <% end %>
            </span>
          </div>
          <div class="monitor-metric">
            <span class="monitor-metric-label">
              Status:
            </span>
            <span class="monitor-metric-value">
              <% if results[key][:pass] %>
               Up
              <% else %>
               Down
              <% end %>
            </span>
          </div>
          <div class="monitor-metric">
            <span class="monitor-metric-label">
              Latency:
            </span>
            <span class="monitor-metric-value">
              <%= number_with_precision(results[key][:latency], precision: 2)  %> s
            </span>
          </div>
          <div class="monitor-metric">
            <span class="monitor-metric-label">
              Service:
            </span>
            <span class="monitor-metric-value">
              <%= results[key][:service] %>
            </span>
          </div>
          <div class="monitor-metric">
            <span class="monitor-metric-label">
              API:
            </span>
            <span class="monitor-metric-value">
              <%= results[key][:api] %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
